html {
  font-size: $ls-html-font-size-base;
}

body {
  display: block;
  font-family: $ls-font-family;
  font-size: $ls-font-size-body;

  @include ls_decreaseFontSizes($ls-font-size-body, $ls-font-resize-steps-standard-body);

  font-weight: $ls-font-weight-normal;
  color: $ls-color-black;
  background: $ls-color-white;
  width: 100%;

  &:not(.lsjs-active) .hideWhenNoLsjs {
    display: none !important;
  }

  &.lsjs-active .hideWhenLsjs {
    display: none !important;
  }

  &:not(.user-is-tabbing) {
    a,
    button,
    input,
    select,
    textarea {
      &:focus {
        outline: none;
      }
    }
  }
}

h1 {
  font-size: $ls-font-size-h1;

  @include ls_decreaseFontSizes($ls-font-size-h1);

  margin: 0 0 $ls-margin-bottom-standard;
  font-weight: $ls-font-weight-normal;
}
h2 {
  font-size: $ls-font-size-h2;

  @include ls_decreaseFontSizes($ls-font-size-h2);

  margin: 0 0 $ls-margin-bottom-standard;
  font-weight: $ls-font-weight-normal;
}
h3 {
  font-size: $ls-font-size-h3;

  @include ls_decreaseFontSizes($ls-font-size-h3);

  margin: 0 0 $ls-margin-bottom-standard;
  font-weight: $ls-font-weight-normal;
}
h4 {
  font-size: $ls-font-size-h4;

  @include ls_decreaseFontSizes($ls-font-size-h4);

  margin: 0 0 $ls-margin-bottom-standard;
  font-weight: $ls-font-weight-normal;
}
h5 {
  font-size: $ls-font-size-h5;

  @include ls_decreaseFontSizes($ls-font-size-h5);

  margin: 0 0 $ls-margin-bottom-standard;
  font-weight: $ls-font-weight-normal;
}
h6 {
  font-size: $ls-font-size-h6;

  @include ls_decreaseFontSizes($ls-font-size-h6);

  margin: 0 0 $ls-margin-bottom-standard;
  font-weight: $ls-font-weight-normal;
}

p {
  margin: 0 0 $ls-margin-bottom-standard;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

.pagination {
  margin-bottom: 2rem;
  text-align: right;

  * {
    display: inline-block;
    font-size: 1.44rem;
  }

  ul {
    margin-left: 2rem;

    li {
      display: inline-block;
      margin-left: 1rem;
      margin-bottom: 1rem;

      a,
      span,
      strong {
        padding: 0.4rem 0.8rem;
      }
      .active {
        border: 0.1rem solid;

      }
    }
  }
}

form {
  .widget {
    position: relative;

    &.error {
      margin-top: 7rem;
    }

    p.error {
      position: absolute;
      top: -3.5rem
    }
  }
}

.tl_confirm {
  color: $ls-color-green;
}

p.error {
  color: $ls-color-red;
}

img {
  max-width: 100%;
  height: auto;
}

.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.1rem;
  margin: -0.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.1rem;
}

#container,
.inside {
  position: relative;
}

.ce_gallery {
  > ul {
    margin:0;
    padding:0;
    overflow:hidden;
    list-style:none;

    li {
      float:left;

      &.col_first {
        clear:left;
      }
    }
  }
}

.float_left {
  float:left;
}
.float_right {
  float:right;
}

.clear,
#clear {
  height:0.1px;
  font-size:0.1px;
  line-height:0.1px;
  clear:both;
}

.custom {
  display:block;
}

#container:after,
.custom:after {
  content:"";
  display:table;
  clear:both;
}
