/**
 * Float classes (see #6851)
 */
.float_left {
  float: left;
}
.float_right {
  float: right;
}

/**
 * Clear floats
 */
.clear,#clear {
  height: 0.01rem;
  font-size: 0.01px;
  line-height: 0.01px;
  clear: both;
}

.image_container {
  &.float_left {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  &.float_right {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
}

/**
 * Hide invisible elements
 */
.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1rem;
  margin: -0.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.1rem;
}

/**
 * Custom layout sections
 */
.custom {
  display: block;
}
#container:after,.custom:after {
  content: "";
  display: table;
  clear: both;
}

/* PAGINATION */
.pagination {
  position: relative;
  text-align: center;
  padding: 0 6rem;
  line-height: 2rem;

  ul {
    li {
      display: none;

      &.first,
      &.previous,
      &.next,
      &.last {
        display: block;
        //position: absolute;
        //top: 0;

        a {
          display: block;
          width: 3rem;
          padding-left: 3rem;
          overflow: hidden;
          position: absolute;
          top: 0;

          &::after {
            position: absolute;
            left: 0;
            top: 0;
            @extend %fa-icon;
            @extend .fas;
            line-height: inherit;
            width: 3rem;
            font-size: 2rem;
          }

          &.first::after {
            content: fa-content($fa-var-angle-double-left);
          }

          &.previous::after {
            content: fa-content($fa-var-angle-left);
          }

          &.next::after {
            content: fa-content($fa-var-angle-right);
          }

          &.last::after {
            content: fa-content($fa-var-angle-double-right);
          }

          &.first {
            left: 0;
          }

          &.previous {
            left: 3rem;
          }

          &.next {
            right: 3rem;
          }

          &.last {
            right: 0;
          }
        }
      }
    }
  }
}

/* FORM STUFF */

form .widget {
  &.error {
    padding-bottom: 4rem;
    position: relative;
  }

  p.error {
    position: absolute;
    top: 2rem;
  }
}