@mixin ls_contentWrapper() {
  width: 190rem;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@mixin ls_mediumContentWrapper() {
  width: 120rem;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@mixin ls_narrowContentWrapper() {
  width: 90rem;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@mixin ls_superNarrowContentWrapper() {
  width: 60rem;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}