@mixin ls_contentWrapper() {
  width: 190rem;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  [class*="layout-sidebar"] #main &,
  [class*="layout-sidebar"] #left &,
  [class*="layout-sidebar"] #right & {
    max-width: 100%;
  }
}

@mixin ls_mediumContentWrapper() {
  width: 120rem;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  [class*="layout-sidebar"] #main &,
  [class*="layout-sidebar"] #left &,
  [class*="layout-sidebar"] #right & {
    max-width: 100%;
  }
}

@mixin ls_narrowContentWrapper() {
  width: 90rem;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  [class*="layout-sidebar"] #main &,
  [class*="layout-sidebar"] #left &,
  [class*="layout-sidebar"] #right & {
    max-width: 100%;
  }
}

@mixin ls_superNarrowContentWrapper() {
  width: 60rem;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  [class*="layout-sidebar"] #main &,
  [class*="layout-sidebar"] #left &,
  [class*="layout-sidebar"] #right & {
    max-width: 100%;
  }
}

@mixin ls_defaultButton_base() {
  display: inline-block;
  background: $ls-color-white;
  text-shadow: none;
  color: $ls-color-black;
  border: solid 0.2rem $ls-color-black;
  padding: 1.2rem 3rem;
}

@mixin ls_defaultButton() {
  @include ls_defaultButton_base;
}

@mixin ls_roundButton_base($line-height: 4rem, $vertical-padding: 1rem, $horizontal-padding: 3rem) {
  text-transform: uppercase;
  border: 0.1rem solid $ls-color-black;
  border-radius: ($line-height + 2 * $vertical-padding) / 2;
  padding: $vertical-padding $horizontal-padding;
  line-height: $line-height;
  display: inline-block;

  &:hover {
    color: $ls-color-white;
    background-color: $ls-color-black;
    transition: 0.8s;
  }

  &::after {
    @extend .fas;
    content: fa-content($fa-var-arrow-right);
    margin-left: 2rem;
  }
}

@mixin ls_roundButton($line-height: 4rem, $vertical-padding: 1rem, $horizontal-padding: 3rem) {
  @include ls_roundButton_base($line-height, $vertical-padding, $horizontal-padding);
}


@mixin ls_sameLine() {
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

@mixin ls_autohideCenterMessage() {
  @include ls_autohide;
  margin: auto;
  padding: 4rem;
  position: fixed;
  width: 60%;
  text-align: center;
  z-index: 99900;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $ls-color-black;
  color: $ls-color-white;
}

@mixin ls_dynamicBackground() {
  transform: perspective(0.1rem) translateZ(0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $ls-color-black;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
  }
  &:hover,
  &:active,
  &:focus {
    color: $ls-color-white !important;
    &:after {
      transform: scaleX(1);
    }
  }
}

@mixin ls_dynamicUnderline() {
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 0.1rem;
    position: absolute;
    left: 0;
    bottom: -0.1rem;
    background-color: currentColor;

    transform: scale(1, 1);
    transform-origin: left center;
    transition: transform 0.2s ease-in-out;
  }

  &:hover::before {
    transform: scale(0, 1);
  }
}

@mixin ls_decreaseFontSizes($font-size-base, $steps: $ls-font-resize-steps-standard-headlines) {
  @each $breakpoint, $percentage in $steps {
    @media screen and(max-width: $breakpoint) {
      font-size: $font-size-base * $percentage;
    }
  }
}

/*
 * This mixin allows us to set styles like e.g. a background color or a border on a grid cell in a way that the stylable
 * area is only inside the grid cell's padding without the need to add an actual inside element in the markup.
 */
@mixin ls_create-grid-cell-inside($gutter: $grid-gutter-width) {
  position: relative;
  padding-left: $gutter;
  padding-right: $gutter;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: $gutter / 2;
    bottom: 0;
    left: $gutter / 2;

    @content;
  }
}

/*
 * The following two mixins add vertical spacing between grid cols using the same technique which adds
 * horizontal spacing by default.
 */
@mixin ls_make-row-vertical-spacing($gutter: $grid-gutter-width) {
  margin-top: -$gutter / 2;
  margin-bottom: -$gutter / 2;
}

@mixin ls_make-col-ready-vertical-spacing($gutter: $grid-gutter-width) {
  padding-top: $gutter / 2;
  padding-bottom: $gutter / 2;
}