@mixin ls_contentWrapper() {
  width: 190rem;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@mixin ls_mediumContentWrapper() {
  width: 120rem;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@mixin ls_narrowContentWrapper() {
  width: 90rem;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@mixin ls_superNarrowContentWrapper() {
  width: 60rem;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@mixin ls_autohideCenterMessage {
  @include ls_autohide;
  margin: auto;
  padding: 4rem;
  position: fixed;
  width: 60%;
  text-align: center;
  z-index: 99900;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $ls-color-black;
  color: $ls-color-white;
}