@mixin navFoldTouched() {
  &:not(.touched):not(.trail):not(.active) {
    ul {
      display: none;
    }
  }
}

@mixin navFoldIcons() {
  &:not(.trail):not(.active) {
    a.submenu {
      padding-right: 1rem;
      position: relative;

      &::after {
        @extend .fa;
        content: fa-content($fa-var-plus);
        position: absolute;
        right: .2rem;
        top: .7rem;
        font-size: 50%;
      }
    }

    &.touched {
      > a.submenu::after {
        content: fa-content($fa-var-minus);
      }
    }
  }
}

nav.lscss-standard-navigation {
  overflow: visible;
  z-index: 1000;
  position: relative;

  ul,
  ol {
    list-style: none;
    margin: 0;
  }

  ul {
    li {
      span,
      a,
      strong {
        display: block;

        &.trail,
        &.active {
          font-weight: $ls-font-weight-bold;
        }
      }

      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }

  /*
   * We use this deep selector because we only want to rely on the actual list structure
   * and not on any additional classes
   */
  > ul {
    > li {
      ul {
        li {
          margin-left: 1.5rem;
        }
      }
    }
  }

  /*
    <- Plus/minus icons
   */

  &.useTouchNavi {
    &.nav-fold,
    &.nav-fold-from-1 {
      ul li {
        @include navFoldTouched;
        @include navFoldIcons;
      }
    }

    &.nav-fold-from-2 {
      > ul > li ul li {
        @include navFoldTouched;
        @include navFoldIcons;
      }
    }

    &.nav-fold-from-3 {
      > ul > li > ul > li ul li {
        @include navFoldTouched;
        @include navFoldIcons;
      }
    }

    &.nav-fold-from-4 {
      > ul > li > ul > li > ul > li ul li {
        @include navFoldTouched;
        @include navFoldIcons;
      }
    }

    &.nav-fold-from-5 {
      > ul > li > ul > li > ul > li > ul > li ul li {
        @include navFoldTouched;
        @include navFoldIcons;
      }
    }
  }
}

nav.onlyShowFirstLevel,
.onlyShowFirstLevel > nav {
  > ul {
    > li {
      > ul {
        display: none !important; // Since this is never ever meant to be overwritten, !important is okay here
      }
    }
  }
}

@import "_nav-variables.scss";
@import "_nav-horizontalNav.scss";