#no-js-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3.2rem;
  color: $ls-color-white;
  background-color: $ls-color-black;
  z-index: 999999;
  overflow: hidden;
  opacity: .85;
  animation: hide-no-js-info 4s ease-in 0s forwards;
}

@keyframes hide-no-js-info {
  50% {
    top: 0;
  }

  100% {
    opacity: 0;
    top: -100rem;
  }
}

body:not(.lsjs-active) .hideWhenNoLsjs,
body:not(.lsjs-active) .hide-when-no-lsjs {
  display: none !important; // We use the important keyword here because we definitely want to make sure that no one can change this behaviour by accident
}

body.lsjs-active .hideWhenLsjs,
body.lsjs-active .hide-when-lsjs {
  display: none !important; // We use the important keyword here because we definitely want to make sure that no one can change this behaviour by accident
}