/* GRUNDEINSTELLUNGEN */

/* SETUP */
$ls-html-font-size-base: 10px !default; // = 1 rem
$ls-font-size-body: 1.6rem !default; // Orientiert sich an $ls-html-font-size-base
$ls-font-weight-normal: 400 !default;
$ls-font-weight-medium: 500 !default;
$ls-font-weight-bold: 700 !default;
$ls-font-family: 'Tahoma', 'Helvetica', 'sans-serif' !default;
$fa-font-path: "../../../../../../assets/lscss/scss/fontawesome/webfonts" !default;
$fa-font-display: auto !default;
$icomoon-font-path: "../../../../../../assets/lscss/scss/ls/lscss-icons/fonts" !default;

/* Bootstrap */
$link-hover-decoration: none;


/* HEADLINES */
$ls-font-size-h1: 3.4rem !default;
$ls-font-size-h2: 3rem !default;
$ls-font-size-h3: 2.7rem !default;
$ls-font-size-h4: 2.4rem !default;
$ls-font-size-h5: 1.9rem !default;
$ls-font-size-h6: 1.6rem !default;

/* PARAGRAPHS */

/* IMAGES */

/* FARBEN */
$ls-color-white: #FFFFFF !default;
$ls-color-black: #000000 !default;
$ls-color-grey: #cccccc !default;
$ls-color-light-grey: #f5f5f5 !default;
$ls-color-dark-grey: #777777 !default;
$ls-color-green: #00aa00 !default;
$ls-color-red: #aa0000 !default;
$ls-color-1: #93a0a7 !default;
$ls-color-2: #878e6e !default;
$ls-color-3: #e1e1e1 !default;
$ls-color-4: #D99873 !default;
$ls-color-5: #A6634B !default;
$ls-color-6: #FFFFFF !default;

$ls-shadow-s: 0.2rem 0.1rem 0.6rem #dddddd !default;
$ls-shadow-l: 0.2rem 0.1rem 1rem #dddddd !default;

$ls-border-color-1: #dddddd !default;
$ls-border-radius-s: 0.32rem !default;

/* MISC */
$ls-margin-bottom-standard: 0.8rem;

$ls-font-resize-steps-standard-headlines: (
  1099px: 0.9,
  799px: 0.82,
  499px: 0.74
) !default;

$ls-font-resize-steps-standard-body: (
  799px: 0.9,
  499px: 0.85
) !default;

/*
 * Modified bootstrap variables -->
 */
$grid-gutter-width: 6rem;
$grid-gutter-width-big: 9rem;
$grid-gutter-width-small: 3rem;
$grid-gutter-width-super-small: 1.5rem;
$grid-breakpoints: (
  xs: 0,
  4: 400px,
  5: 500px,
  sm: 576px,
  6: 600px,
  7: 700px,
  md: 768px,
  8: 800px,
  9: 900px,
  lg: 992px,
  10: 1000px,
  11: 1100px,
  12: 1200px,
  xl: 1200px,
  13: 1300px,
  14: 1400px,
  15: 1500px,
  16: 1600px
) !default;

$container-max-widths: (
  4: 360px,
  5: 460px,
  sm: 540px,
  6: 560px,
  7: 660px,
  md: 720px,
  8: 760px,
  9: 860px,
  lg: 960px,
  10: 960px,
  11: 1060px,
  12: 1140px,
  xl: 1140px,
  13: 1260px,
  14: 1360px,
  15: 1460px,
  16: 1560px
) !default;