/* GRUNDEINSTELLUNGEN */

/* SETUP */
$ls-html-font-size-base: 10px !default; // = 1 rem
$ls-font-size-body: 1.6rem !default; // Orientiert sich an $ls-html-font-size-base
$ls-font-weight-normal: 400 !default;
$ls-font-weight-medium: 500 !default;
$ls-font-weight-bold: 700 !default;
$ls-font-family: 'Tahoma', 'Helvetica', 'sans-serif' !default;
$fa-font-path: "../../../../../../assets/lscss/scss/fontawesome/webfonts" !default;
$fa-font-display: auto !default;

/* Bootstrap */
$link-hover-decoration: none;


/* HEADLINES */
$ls-font-size-h1: 3.4rem;
$ls-font-size-h2: 3rem;
$ls-font-size-h3: 2.7rem;
$ls-font-size-h4: 2.4rem;
$ls-font-size-h5: 1.9rem;
$ls-font-size-h6: 1.6rem;

/* PARAGRAPHS */

/* IMAGES */

/* FARBEN */
$ls-color-white: #FFFFFF !default;
$ls-color-black: #000000 !default;
$ls-color-grey: #cccccc !default;
$ls-color-green: #00aa00 !default;
$ls-color-red: #aa0000 !default;
$ls-color-1: #93a0a7 !default;
$ls-color-2: #878e6e !default;
$ls-color-3: #e1e1e1 !default;
$ls-color-4: #D99873 !default;
$ls-color-5: #A6634B !default;
$ls-color-6: #FFFFFF !default;

$ls-shadow-s: 0.2rem 0.1rem 0.6rem #dddddd !default;
$ls-shadow-l: 0.2rem 0.1rem 1rem #dddddd !default;

$ls-border-color-1: #dddddd !default;
$ls-border-radius-s: 0.32rem !default;

/* MISC */
$ls-margin-bottom-standard: 0.8rem;

$ls-font-resize-steps-standard: (
  1099px: 0.9,
  799px: 0.82,
  499px: 0.74
) !default;