/*
  $ls-***-base    Grundlegende Einstellung für mehrere Elemente

*/

/* GRUNDEINSTELLUNGEN */

/* SETUP */
$ls-html-font-size-base: 10px; // = 1 rem
$ls-font-size-base: 1.6rem; // Orientiert sich an $ls-html-font-size-base
$ls-font-weight-normal: 400;
$ls-font-weight-medium: 500;
$ls-font-weight-bold: 700;
$fa-font-path: "../../../../../../assets/lscss/scss/fontawesome/webfonts";


/* HEADLINES */

/* PARAGRAPHS */

/* IMAGES */

/* FARBEN */
$ls-color-white: #FFFFFF;
$ls-color-black: #000000;
$ls-color-1: #203B8C;
$ls-color-2: #26488C;
$ls-color-3: #5A86BF;
$ls-color-4: #D99873;
$ls-color-5: #A6634B;
$ls-color-6: #FFFFFF;

$ls-shadow-s: 2px 1px 6px #dddddd;
$ls-shadow-l: 2px 1px 10px #dddddd;

$ls-border-color-1: #dddddd;
$ls-border-radius-s: 0.2rem;

/* Diverses */

$ls-reduced-header-max-width: 950px;

$ls-oc-navi-max-width: $ls-reduced-header-max-width;

$ls-header-height: 10rem;
$ls-header-height-reduced: 5rem;
$ls-header-transition-duration: .5s;

