/*
 * This is only being used to make all elements with the class "ls_icon"
 * visible so that they can be rewritten/restyled without this class
 ->
 */
//.ls_icon::after {
//  .fa-icon;
//  .fas;
//  content: @fa-var-bug;
//  color: #FF0000;
//}
/*
 * <-
 */

.flexWidget {
  display: inline;
}

.back-button-box {
  margin-bottom: 2rem;
}

button.back::after,
a.button.back::after {
  content: none;
}

button.back::before,
a.button.back::before {
  .fa-icon;
  .fas;
  content: @fa-var-caret-left;
  margin-right: 0.5rem;
  color: @ls-color-4;
  font-size: 2rem;
  vertical-align: middle;
}

.currentPrice {
  font-weight: @ls-font-weight-bold;
}

.oldPrice {
  text-decoration: line-through;
}

.product-marker-container {
  position: absolute;
  top: -1.5rem;
  left: .5rem;
  right: -1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  .product-marker {
    margin-left: 1rem;
    margin-bottom: 1rem;
    transform: rotate(-33deg);

    &::after {
      //.fa-icon;
      //.fas;
      font-size: 2.5rem;
      font-weight: @ls-font-weight-bold;
      color: @ls-color-3;
      text-shadow: .2rem .2rem .5rem @ls-color-1;
    }

    &.new::after {
      content: "NEW";
    }

    &.sale::after {
      content: "SALE";
    }
  }
}