.productOverview {
  .ls-content-wrapper;

  .productList {
    .products {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .shopProduct {
        width: 20%;
      }
    }
  }
}