.template_productDetails {
  .ls-content-wrapper;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  .back-button-box {
    width: 100%;
  }

  h1 {
    width: 100%;
    font-family: @ls-product-details-headings-font-family;
    font-size: @ls-product-details-h1-font-size;
    font-weight: @ls-font-weight-bold;
    margin-bottom: 2rem;
    display: flex;

    &::before {
      content: "";
      display: inline-block;
      margin-right: 1rem;
      background-color: @ls-color-3;
      height: 2rem;
      width: 2rem;
      margin: auto 1rem auto 0;
    }
  }

  h3 {
    font-family: @ls-product-details-headings-font-family;
    font-size: @ls-product-details-h3-font-size;
    font-weight: @ls-font-weight-bold;
    margin-bottom: 2rem;
    display: flex;

    &::before {
      content: "";
      display: inline-block;
      margin-right: 1rem;
      background-color: @ls-color-3;
      height: 2rem;
      width: 2rem;
      margin: auto 1rem auto 0;
    }
  }

  .image-container {
    width: 50%;
    margin-right: 1%;
    position: relative;

    img {
      max-width: 100%;
    }
  }

  .info {
    width: 49%;
    min-height: 20rem;
    display: flex;

    .misc {
      width: calc(50% - 1rem);
      border-right: .8rem solid @ls-color-3;
      padding-right: 1rem;
      margin-right: 1rem;
      margin-left: auto;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .producer-logo-container {
        height: 3rem;

        img {
          max-height: 100%;
        }
      }

      .code {
        margin-top: .2rem;
      }

      .stock-and-delivery {
        line-height: 1;
      }
    }

    .price-and-cart {
      margin-right: auto;
      width: 50%;

      [data-merconis-component="put-in-cart-form"] {
        width: 100%;
        height: 100%;
      }

      .priceContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .inputQuantity {
          .flexWidget {
            display: inline-block;

            label {
              display: none;
            }

            input {
              width: 3.5rem;
              padding: .4rem .2rem;
              border: .1rem solid @ls-color-1;
              border-radius: @ls-border-radius-s;
              text-align: right;
            }
          }

          button.submit {
            min-width: unset;
            padding: .5rem;
          }
        }

        .details {
          line-height: 1;
          margin-bottom: 8rem;
        }

        .currentPrice {
          .finalPrice {
            .value {
              font-size: @ls-h2-font-size;
              margin-top: 2.7rem;
              margin-bottom: .5rem;
            }
          }
        }

        .hasBeenPutInCart {
        }
      }
    }
  }

  .description {
    margin-top: 2rem;
    width: 50%;
  }

  .product-contact-form {
    margin-top: 2rem;
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .template_productDetails {
    .description {
      width: 100%;
    }
  }
}

@media screen and (max-width: 700px) and (min-width: 551px) {
  .template_productDetails {
    .info {
      width: calc(49% - 1rem);
      display: block;
      border-right: .8rem solid @ls-color-3;
      padding-right: 1rem;
      margin-right: 1rem;

      .misc {
        width: 100%;
        border: none;
        padding-right: 0;
        margin-right: 0;
      }

      .price-and-cart {
        width: 100%;
        margin-left: auto;
        margin-right: 0;
        text-align: right;

        .inputQuantity {
          margin-top: 1rem;
        }

        .priceContainer {
          .details {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .template_productDetails {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-container {
      width: 100%;
    }

    .info {
      width: 100%;
      min-height: unset;
      margin-top: 1rem;

      .price-and-cart {
        .priceContainer {
          .inputQuantity {
            margin-top: 1rem;
          }

          .details {
            margin-bottom: 1rem;
          }

          .currentPrice {
            .finalPrice {
              .value {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}