.flexWidget {
  display: inline;
}

// This is only being used to make all elements with the class "ls_icon" visible so that they can be rewritten/restyled without this class
.ls_icon::after {
  .fa-icon;
  .fas;
  content: @fa-var-bug;
  color: #FF0000;
}