/*
 * Convenience function used to set content property to make sure
 * that ls-icons can be used in the same way in which fa icons are used.
 */
@function ls-icon-content($ls-icon-var) {
  @return unquote("\"#{ $ls-icon-var }\"");
}

$lsi-var-adresse_01: \e900;
$lsi-var-adresse_02: \e902;
$lsi-var-eco-verpackung_01: \e904;
$lsi-var-eco-verpackung_02: \e905;
$lsi-var-eco-verpackung_03: \e906;
$lsi-var-eingeben_01: \e907;
$lsi-var-lieferung_01: \e909;
$lsi-var-lieferung_02: \e912;
$lsi-var-lieferung_03: \e913;
$lsi-var-login_01: \e914;
$lsi-var-login_02: \e915;
$lsi-var-mehr-produkte: \e916;
$lsi-var-meinshop_01: \e917;
$lsi-var-meinshop_02: \e918;
$lsi-var-produktion: \e919;
$lsi-var-rechnung_01: \e91a;
$lsi-var-rechnung_02: \e91b;
$lsi-var-schnelle-lieferung_01: \e91c;
$lsi-var-schnelle-lieferung_02: \e91d;
$lsi-var-schnelle-lieferung_03: \e91e;
$lsi-var-sprache_01: \e91f;
$lsi-var-sprache_02: \e920;
$lsi-var-sprache_03: \e921;
$lsi-var-suche_01: \e922;
$lsi-var-suche_02: \e923;
$lsi-var-warenkorb_01: \e924;
$lsi-var-warenkorb_02: \e925;
$lsi-var-warenkorb_03: \e926;
$lsi-var-warenkorb_04: \e927;
$lsi-var-wunschliste_01: \e928;
$lsi-var-wunschliste_02: \e92b;
$lsi-var-wunschliste_03: \e92c;
$lsi-var-zahlung_01: \e92d;
$lsi-var-zahlung_02: \e92e;
$lsi-var-zahlung_03: \e92f;
