/* SEITENLAYOUT */
header .inside {
  .ls-content-wrapper;
}

footer .inside {
  .ls-content-wrapper;
}
.mod_article:not(.ls-fullwidth) {
  .ls-content-wrapper;
}

@media (max-width: @ls-content-wrapper-breakpoint) {
  .mod_article:not(.ls-fullwidth), footer .inside, header .inside {
    margin-left: @ls-content-wrapper-padding;
    margin-right: @ls-content-wrapper-padding;
  }
}

/* MARGINS */
.mod_article:not(:first-child):not(.ls-plain) {
  margin-top: @ls-article-margin;
}
.mod_article:not(:last-child):not(.ls-plain) {
  margin-bottom: @ls-article-margin;
}


/* MARGINS CONTENT-ELEMENTE */
.ce_headline {
  margin-top: @ls-headings-margin-top;
}
.ce-headline:first-child {
  margin-top: 0;
}
.ce_headline {
  margin-bottom: @ls-headings-margin-bottom;
}
.ce-headline:last-child {
  margin-bottom: 0;
}
.ce_text {
  margin-top: @ls-paragraph-margin-top;
}
.ce-text:first-child {
  margin-top: 0;
}
.ce_text {
  margin-bottom: @ls-paragraph-margin-bottom;
}
.ce-text:last-child {
  margin-bottom: 0;
}

.ce_image {
  margin-top: @ls-image-margin-top;
}
.ce_image:first-child {
  margin-top: 0;
}
.ce_image {
  margin-bottom: @ls-image-margin-bottom;
}
.ce_image:last-child {
  margin-bottom: 0;
}

/* PAGINATION */
.pagination {
  position: relative;
  text-align: center;
  padding: 0 6rem;
  line-height: 2rem;

  ul {
    li {
      display: none;

      &.first,
      &.previous,
      &.next,
      &.last {
        display: block;
        //position: absolute;
        //top: 0;

        a {
          display: block;
          width: 3rem;
          padding-left: 3rem;
          overflow: hidden;
          position: absolute;
          top: 0;

          &::after {
            position: absolute;
            left: 0;
            top: 0;
            .fa-icon;
            .fas;
            line-height: inherit;
            width: 3rem;
            font-size: 2rem;
          }

          &.first::after {
            content: @fa-var-angle-double-left;
          }

          &.previous::after {
            content: @fa-var-angle-left;
          }

          &.next::after {
            content: @fa-var-angle-right;
          }

          &.last::after {
            content: @fa-var-angle-double-right;
          }

          &.first {
            left: 0;
          }

          &.previous {
            left: 3rem;
          }

          &.next {
            right: 3rem;
          }

          &.last {
            right: 0;
          }
        }
      }
    }
  }
}

/* FORM STUFF */

form .widget {
  &.error {
    padding-bottom: 4rem;
    position: relative;
  }

  p.error {
    position: absolute;
    top: 2rem;
  }
}