@keyframes loadingIndicator-spinner {
  to {transform: rotate(360deg);}
}

.moduleContainer.loadingIndicator {
  display: none;
}
.moduleContainer.loadingIndicator.show {
  display: block;
}

.main.loadingIndicator {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.3);
  z-index: 100000;
  display: flex;
}

.main.loadingIndicator::before {
  .fa-icon;
  .fas;
  content: @fa-var-spinner;
  animation: loadingIndicator-spinner 1.5s linear infinite;
  color: @ls-color-6;
  font-size: 4rem;
  margin: 20% auto auto auto;
}


.main.loadingIndicator [data-lsjs-element="loadingText"] {
  display: none;
}