/*
 * horizontal navigation ->
 */
nav.horizontalNavigation,
.horizontalNavigation > nav {
  overflow: visible;
  position: relative;

  ul {
    display: flex;

    &.level_1 {
      li {
        position: relative;
        margin-left: 0;
      }

      > li:not(:last-child) {
        margin-right: 1rem;
      }

      > li:last-child {
        margin-bottom: 0;
      }
    }
  }

  .submenu ul {
    position: absolute;
    display: none;
    background-color: rgba(255,255,255,1.0);
    box-shadow: @ls-shadow-l;
    padding: 2rem;

    &.level_2 {
      top: 100%;

      ul {
        top: 0;
        left: 100%;
      }
    }

    li {
      margin-right: 0;
      white-space: nowrap;
    }
  }

  &:not(.useFoldedNavi) {
    span,
    a,
    strong {
      &.submenu::after,
      &.trail::after {
        .fa-icon;
        .fas;
        content: none;
        cursor: pointer;
        margin-left: .5rem;
      }

      &.submenu::after {
        //content: @fa-var-caret-right;
      }

      &.trail::after {
        //content: @fa-var-caret-down;
      }
    }
  }

  .submenu:hover,
  .submenu.touched {
    > ul {
      display: block;
    }
  }
}


nav.horizontalNavigation.useMaxWidthNavi,
.horizontalNavigation.useMaxWidthNavi > nav {
  ul {
    li {
      position: unset;
    }

    &.level_2 {
      > li {
        padding: 2rem;

        > a,
        > span,
        > strong {
          font-weight: bold;
          display: block;
          border-bottom: .1rem solid @ls-border-color-1;
        }
      }

      ul {
        box-shadow: none;
        display: block;
        position: relative;
        left: auto;
        padding: 0;

        &.level_4 {
          li {
            margin-left: 1.5rem;
          }
        }
      }
    }
  }

  .submenu:hover,
  .submenu.touched {
    > ul.level_2 {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      left: 0;
      right: 0;
    }
  }
}
