/*
 * horizontal navigation ->
 */
nav.horizontalNavigation,
.horizontalNavigation > nav {
  overflow: visible;
  position: relative;
}

nav.horizontalNavigation ul,
.horizontalNavigation > nav ul {
  margin: 0;
}

nav.horizontalNavigation ul li,
.horizontalNavigation > nav ul li {
  position: relative;
  list-style: none;
  margin-left: 0px;
}

nav.horizontalNavigation ul li span,
.horizontalNavigation > nav ul li span,
nav.horizontalNavigation ul li a,
.horizontalNavigation > nav ul li a,
nav.horizontalNavigation ul li strong,
.horizontalNavigation > nav ul li strong {
  text-decoration: none;
  display: block;
}

nav.horizontalNavigation ul li.last a,
.horizontalNavigation > nav ul li.last a {
  padding-right: 0px;
}

nav.horizontalNavigation ul.level_1 > li.last,
.horizontalNavigation > nav ul.level_1 > li.last {
  margin-right: 0px;
}

nav.horizontalNavigation ul.level_1 > li,
.horizontalNavigation > nav ul.level_1 > li {
  display: inline-block;
  margin-right: 15px;
}

nav.horizontalNavigation li:hover > span,
.horizontalNavigation > nav li:hover > span,
nav.horizontalNavigation li:hover > a,
.horizontalNavigation > nav li:hover > a,
nav.horizontalNavigation span:hover,
.horizontalNavigation > nav span:hover,
nav.horizontalNavigation a:hover,
.horizontalNavigation > nav a:hover,
nav.horizontalNavigation span.active,
.horizontalNavigation > nav span.active,
nav.horizontalNavigation a.active,
.horizontalNavigation > nav a.active,
nav.horizontalNavigation span.trail,
.horizontalNavigation > nav span.trail,
nav.horizontalNavigation a.trail,
.horizontalNavigation > nav a.trail {
}

nav.horizontalNavigation:not(.useFoldedNavi) span.submenu,
.horizontalNavigation > nav:not(.useFoldedNavi) span.submenu,
nav.horizontalNavigation:not(.useFoldedNavi) a.submenu,
.horizontalNavigation > nav:not(.useFoldedNavi) a.submenu {
  background-image: url("../images/misc/arrow_right.png");
  background-size: 10px;
  background-position: right center;
  background-repeat: no-repeat;
}

nav.horizontalNavigation:not(.useFoldedNavi) span.trail,
.horizontalNavigation > nav:not(.useFoldedNavi) span.trail,
nav.horizontalNavigation:not(.useFoldedNavi) a.trail,
.horizontalNavigation > nav:not(.useFoldedNavi) a.trail {
  background-image: url("../images/misc/arrow_down.png");
  background-size: 10px;
  background-position: right center;
  background-repeat: no-repeat;
}

nav.horizontalNavigation .submenu ul,
.horizontalNavigation > nav .submenu ul {
  position: absolute;
  display: none;
  background-color: rgba(255,255,255,1.0);
  padding: 20px;
}

nav.horizontalNavigation:not(.useFoldedNavi) .submenu:hover > ul,
.horizontalNavigation > nav:not(.useFoldedNavi) .submenu:hover > ul {
  display: block;
}

nav.horizontalNavigation .submenu ul.level_2,
.horizontalNavigation > nav .submenu ul.level_2 {
  top: 100%;
  left: -60px;
  text-align: left;
}

nav.horizontalNavigation .submenu ul.level_2 ul,
.horizontalNavigation > nav .submenu ul.level_2 ul {
  top: 0px;
  left: 100%;
}

nav.horizontalNavigation .submenu ul li,
.horizontalNavigation > nav .submenu ul li {
  padding-top: 5px;
  margin-right: 0px;
  white-space: nowrap;
}

/*
 * useMaxWidthNavi
 */
nav.horizontalNavigation.useMaxWidthNavi ul.level_2,
.horizontalNavigation > nav.useMaxWidthNavi ul.level_2 {
  padding: 20px;
}

nav.horizontalNavigation.useMaxWidthNavi ul.level_2 > li,
.horizontalNavigation > nav.useMaxWidthNavi ul.level_2 > li {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  display: inline-block;
  margin: 0 -6px 0 0 !important;
  padding: 5px !important;
  vertical-align: top;
}

nav.horizontalNavigation.useMaxWidthNavi ul.level_2 > li > a,
.horizontalNavigation > nav.useMaxWidthNavi ul.level_2 > li > a,
nav.horizontalNavigation.useMaxWidthNavi ul.level_2 > li > span,
.horizontalNavigation > nav.useMaxWidthNavi ul.level_2 > li > span {
  font-weight: bold;
}

nav.horizontalNavigation.useMaxWidthNavi ul.level_2 > li > a.submenu,
.horizontalNavigation > nav.useMaxWidthNavi ul.level_2 > li > a.submenu,
nav.horizontalNavigation.useMaxWidthNavi ul.level_2 > li > span.submenu,
.horizontalNavigation > nav.useMaxWidthNavi ul.level_2 > li > span.submenu {
  padding-bottom: 5px;
}

nav.horizontalNavigation.useMaxWidthNavi ul.level_2 ul.level_3 > li.submenu,
.horizontalNavigation > nav.useMaxWidthNavi ul.level_2 ul.level_3 > li.submenu {
  margin-top: 10px;
  margin-bottom: 10px;
}

nav.horizontalNavigation.useMaxWidthNavi ul.level_3 > li > a.submenu,
.horizontalNavigation > nav.useMaxWidthNavi ul.level_3 > li > a.submenu,
nav.horizontalNavigation.useMaxWidthNavi ul.level_3 > li > span.submenu,
.horizontalNavigation > nav.useMaxWidthNavi ul.level_3 > li > span.submenu {
  padding-bottom: 5px;
}

nav.horizontalNavigation.useMaxWidthNavi ul.level_2 ul.level_3,
.horizontalNavigation > nav.useMaxWidthNavi ul.level_2 ul.level_3,
nav.horizontalNavigation.useMaxWidthNavi ul.level_2 ul.level_4,
.horizontalNavigation > nav.useMaxWidthNavi ul.level_2 ul.level_4 {
  display: block;
  position: relative;
  left: auto;
  padding: 0;
}

nav.horizontalNavigation.useMaxWidthNavi ul.level_2 ul.level_3 > li,
.horizontalNavigation > nav.useMaxWidthNavi ul.level_2 ul.level_3 > li,
nav.horizontalNavigation.useMaxWidthNavi ul.level_2 ul.level_4 > li,
.horizontalNavigation > nav.useMaxWidthNavi ul.level_2 ul.level_4 > li {
  margin: 0;
}


/*
 * <- horizontal navigation
 */