$icomoon-font-family-core: "lscss-icons" !default;
$icomoon-font-path-core: "fonts" !default;

$lsi-house-01: "\e900";
$lsi-house-02: "\e917";
$lsi-house-03: "\e918";
$lsi-factory-01: "\e919";
$lsi-location-01: "\e902";
$lsi-location-02: "\e920";
$lsi-location-03: "\e921";
$lsi-box-01: "\e904";
$lsi-box-02: "\e905";
$lsi-box-03: "\e906";
$lsi-box-04: "\e916";
$lsi-pen-01: "\e907";
$lsi-truck-01: "\e909";
$lsi-delivery-01: "\e912";
$lsi-delivery-02: "\e913";
$lsi-delivery-03: "\e91c";
$lsi-delivery-04: "\e91d";
$lsi-delivery-05: "\e91e";
$lsi-person-01: "\e914";
$lsi-person-02: "\e915";
$lsi-payment-01: "\e91a";
$lsi-payment-02: "\e91b";
$lsi-wallet-01: "\e92d";
$lsi-credit-card-01: "\e92e";
$lsi-wallet-02: "\e92f";
$lsi-globe-01: "\e91f";
$lsi-magnifier-01: "\e922";
$lsi-telescope-01: "\e923";
$lsi-shopping-bag-01: "\e926";
$lsi-heart-01: "\e928";
$lsi-list-01: "\e92b";
$lsi-list-02: "\e92c";

