.ls-image-teaser {
  position: relative;
}

.ls-image-teaser > img {
  width: 100%;
  min-height: 30rem;
  object-fit: cover;
}

.ls-image-teaser.main-image {
  margin-left: -@ls-content-wrapper-padding;
  margin-right: -@ls-content-wrapper-padding;
}

.ls-image-teaser figcaption {
  position: absolute;
  bottom: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.ls-image-teaser figcaption .info-container,
.ls-image-teaser figcaption a.button {
  vertical-align: middle;
  display: inline-block;
}

.ls-image-teaser figcaption .info-container {
  background-color: #FFFFFF;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.ls-image-teaser figcaption .info-container > * {
  margin-left: 1rem;
  margin-right: 1rem;
}

.ls-image-teaser figcaption .info-container h3 {
  margin-top: 0;
  line-height: 2.2rem;
  white-space: nowrap;
}

@media screen and (max-width: 700px) {
  .ls-image-teaser figcaption {
    position: relative;
    bottom: auto;
    width: 100%;
    justify-content: center;
  }

  .ls-image-teaser figcaption .info-container {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .ls-image-teaser figcaption .info-container > * {
    margin-bottom: 1rem;
  }
}