@media screen and (max-width: 1100px) {
  #header .nav-categories {
    left: 0;
    padding-left: 25.8rem;
  }
  #header .nav-misc {
    left: 0;
    padding-left: 26rem;
  }
}

@media screen and (max-width: 1000px) {
  #header .nav-categories,
  #header .nav-misc {
    display: none;
  }

  #header {
    margin-top: 15rem;
  }

  #header-email {
    bottom: 15rem;
    left: 0;
    right: auto;
  }

  #header-hotline {
    bottom: 12rem;
    left: 0;
    right: auto;
  }

  #header-hotline > .label {
    display: none;
  }

  #header-search {
    bottom: 15rem;
    left: auto;
    right: 6rem;
  }

  #header-search > .label,
  #header-search > .value {
    display: inline-block;
  }

  #header-cart {
    bottom: 12rem;
    left: auto;
    right: 3.9rem;
  }

  #header-cart > .label,
  #header-cart > .value {
    display: inline-block;
  }


}