body.useOcNavi {
  #lsOcNaviToggler {
    display: none;
    position: fixed;
    right: .7rem;
    top: 2.7rem;
    font-size: 3rem;
  }

  #lsOcNaviToggler::before {
    content: "Menü";
    position: absolute;
    top: -1.4rem;
    left: 0;
    font-size: 1.2rem;
    font-family: @ls-font-family-base;
  }

  #offCanvasContainer {
    #header-logo {
      background-color: #FFFF00;
      height: 3rem;
      margin-bottom: .2rem;
      position: relative;
      margin-top: 3rem;

      .image_container {
        position: absolute;
        bottom: 0;
      }
    }

    nav > h6 {
      margin-top: 3rem;
    }
  }
}



@media screen and (max-width: 1000px) {
  body.useOcNavi #lsOcNaviToggler {
    display: block;
  }
}