@media screen and (max-width: 1265px) {
  #header-hotline {
    left: 85rem;
  }

  #header-search {
    left: 101rem;
  }

  #header-cart {
    left: 111rem;
  }
}

@media screen and (max-width: 1200px) {
  #header-hotline {
    left: 82rem;
  }

  #header-search {
    left: 94rem;
  }

  #header-cart {
    left: 101rem;
  }
}

@media screen and (max-width: 1100px) {
  #header {
    margin-top: 12rem;
  }

  #header-email {
    bottom: 11rem;
  }

  #header-hotline {
    bottom: 8rem;
    right: 12rem;
  }

  #header-search {
    bottom: 8rem;
    right: 7rem;
  }

  #header-cart {
    bottom: 8rem;
    right: 0;
  }

}