/*
  Hier projektbezogen Variablen überschreiben
*/
@ls-font-family-sans-serif: 'Archivo Narrow', sans-serif;

@ls-content-wrapper-max-width: 1280px;

@ls-color-1: #000000;
@ls-color-2: #555555;
@ls-color-3: #FFFF00;
@ls-color-body: #000000;