/*
  Hier projektbezogen Variablen überschreiben
*/
@ls-font-family-sans-serif: 'Archivo Narrow', sans-serif;
@ls-headings-font-family:  'Archivo Black', sans-serif;
@ls-headings-font-weight: @ls-font-weight-normal;
@ls-h6-font-weight: @ls-font-weight-bold;

@ls-content-wrapper-max-width: 1280px;

@ls-color-1: #000000;
@ls-color-2: #555555;
@ls-color-3: rgb(255,250,0);
@ls-color-4: rgb(255,190,0);
@ls-color-body: #000000;

@ls-shadow-s: 0 0.2rem 0.2rem #bbbbbb;
@ls-shadow-l: 0 0.4rem 0.4rem #bbbbbb;
@ls-shadow-button: 0 0 0.4rem #000000;